.updateContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.buttoncontainer {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (min-width: 1200px) {
    .buttoncontainer {
        padding: 0 200px; 
    }
    .title {
        padding: 0 100px;
    }
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 60px;
    }
    .buttoncontainer {
        width: 150px;
        height: 50px;
    }
}